---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <form accept-charset="UTF-8" action="https://formkeep.com/f/905a85f38e0e" method="POST">
      <input type="email" name="email" placeholder="Your Email">
      <input type="text" name="name" placeholder="Your Name">
      <input type="hidden" name="utf8" value="✓">
      <button type="submit">Submit</button>
    </div>
  </section>

</article>
